fastapi
uvicorn[standard]
sqlalchemy
databases
psycopg2-binary       #for postgres DB
python-multipart      # For OAuth2PasswordRequestForm form parsing
passlib[bcrypt]
python-jose[cryptography]
pydantic
email-validator       # For validating emails in Pydantic schemas
